@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Gradient Colors */
  --gradient-peach-from: #fb923c;
  --gradient-peach-to: #fb7185;
  --gradient-sky-from: #0ea5e9;
  --gradient-sky-to: #7dd3fc;
  --gradient-lime-from: #a3e635;
  --gradient-lime-to: #86efac;
  --gradient-dusk-from: #8b5cf6;
  --gradient-dusk-to: #fca5a5;
  --gradient-cotton-candy-from: #60a5fa;
  --gradient-cotton-candy-to: #a78bfa;
  --gradient-wild-apple-from: #bb7aa5;
  --gradient-wild-apple-to: #fcd34d;
  --gradient-fresh-mint-from: #00cdac;
  --gradient-fresh-mint-to: #34d399;
  --gradient-grape-gummy-from: #fb923c;
  --gradient-grape-gummy-to: #8b5cf6;
  --gradient-grape-gummy-via: #b572cc;

  /* Theme Colors */
  --color-text: 99 99 112;
  --color-heading: 51 51 61;
  --color-hr: 221 221 231;
  --color-layer-0: 255 255 255;
  --color-layer-1: 246 246 250;
  --color-layer-2: 255 255 255;
  --color-layer-3: 246 246 250;
  --color-muted-1: 239 239 243;
  --color-muted-2: 225 225 234;
  --color-muted-3: 221 221 231;
  --color-primary: 37 100 235;
  --color-primary-accent: 30 64 175;
  --color-critical: 220 38 38;
  --color-critical-accent: 153 27 27;
  --color-secondary: 98 98 112;
  --color-secondary-accent: 81 81 95;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Theme Colors */
    --color-text: 171 173 198;
    --color-heading: 255 255 255;
    --color-hr: 50 56 85;
    --color-layer-0: 21 24 37;
    --color-layer-1: 26 29 45;
    --color-layer-2: 30 34 53;
    --color-layer-3: 37 42 65;
    --color-muted-1: 37 42 65;
    --color-muted-2: 50 56 85;
    --color-muted-3: 66 72 103;
    --color-primary: 37 100 235;
    --color-primary-accent: 30 64 175;
    --color-critical: 220 38 38;
    --color-critical-accent: 153 27 27;
    --color-secondary: 66 72 103;
    --color-secondary-accent: 48 54 80;
  }

  .blog-post-content :not(pre) > code[class*='language-'],
  .blog-post-content pre[class*='language-'] {
    background: rgb(var(--color-layer-3) / var(--tw-bg-opacity));
  }
}

.blog-post-content p {
  @apply mb-4;
  @apply w-full;
}

.blog-post-content a {
  @apply text-teal-500;
  @apply hover:text-teal-400;
}

.blog-post-content ul {
  @apply list-disc;
  @apply mb-4;
  @apply pl-4;
}

.blog-post-content ol {
  @apply list-decimal;
  @apply mb-4;
  @apply pl-4;
}

.blog-post-content h1 {
  @apply text-2xl;
  @apply font-semibold;
  @apply mb-4;
}

.blog-post-content h2 {
  @apply text-2xl;
  @apply font-semibold;
  @apply mb-4;
}

.blog-post-content h3 {
  @apply text-xl;
  @apply font-semibold;
  @apply mb-4;
}

.blog-post-content h4,
.blog-post-content h5,
.blog-post-content h6 {
  @apply text-lg;
  @apply font-semibold;
  @apply mb-4;
}

.blog-post-content blockquote {
  @apply p-4;
  @apply bg-gray-100;
  @apply border-l-8;
  @apply border-gray-300;
  @apply rounded-lg;
  @apply leading-relaxed;
  @apply mb-4;
  @apply shadow;
}

.blog-post-content table {
  @apply table-auto;
  @apply mb-4;
  @apply overflow-hidden;
}

.blog-post-content table thead tr {
  @apply bg-gray-100;
}

.blog-post-content table thead tr th {
  @apply px-4;
  @apply py-2;
  @apply border-gray-300;
  @apply font-semibold;
  @apply text-gray-700;
  @apply text-sm;
}

.blog-post-content table tbody tr {
  @apply border-b;
}

.blog-post-content table tbody tr td {
  @apply px-4;
  @apply py-2;
  @apply border-gray-300;
  @apply text-gray-700;
  @apply text-sm;
}

.blog-post-content hr {
  @apply mb-4;
  @apply border-b-2;
  @apply border-gray-300;
}

/* .blog-post-content pre {
  @apply mb-4 overflow-x-auto rounded-lg p-4 text-text;

  background: rgb(var(--color-layer-0) / var(--tw-bg-opacity));
} */
