---
import { Icon } from 'astro-icon';
---

<div class="flex flex-col-reverse space-x-12 mb-6 md:flex-row">
  <div>
    <h2 class="text-2xl font-semibold mb-2">John Costanzo</h2>
    <span class="block mb-6 text-sm">Senior Software Engineer</span>

    <p>
      I am a senior software engineer with over 15 years of experience. I have a strong background
      in front-end development and a passion for creating intuitive and visually appealing user
      interfaces.
    </p>

    <div class="flex flex-row justify-center my-5 space-x-4">
      <a href="https://www.github.com/jrock2004">
        <Icon alt="My Github Profile" class="w-8" name="ph:github-logo-thin" />
        <span class="sr-only">My Github Profile</span>
      </a>
      <a href="https://twitter.com/jrock2004">
        <Icon alt="My Twitter Profile" class="w-8" name="ph:twitter-logo-thin" />
        <span class="sr-only">My Twitter Profile</span>
      </a>
      <a href="https://www.youtube.com/jrock20041">
        <Icon alt="My Youtube channel" class="w-8" name="ph:youtube-logo-thin" />
        <span class="sr-only">My Youtube channel</span>
      </a>
    </div>
  </div>
  <div class="flex justify-center mb-6 md:mb-0">
    <div>
      <img
        alt="Sitting at a coffee shop, drinking a cup of hot cocoa"
        class="rounded-full"
        src="https://media.licdn.com/dms/image/C4D03AQGAT8M2AMv6xw/profile-displayphoto-shrink_200_200/0/1516762499977?e=1678320000&v=beta&t=Wxy3oq1Xye1HtmxRt13JmtcpjLR2sfKXlu6vjqBO9-U"
      />
    </div>
  </div>
</div>
