---
---

<div class="menu-icon absolute top-5 right-6 cursor-pointer md:hidden">
  <span class="block w-8 h-1 mb-2 bg-slate-600 dark:bg-white"></span>
  <span class="block w-8 h-1 mb-2 bg-slate-600 dark:bg-white"></span>
  <span class="block w-8 h-1 mb-2 bg-slate-600 dark:bg-white"></span>
</div>
